<div class="ui menu">
  {{#link-to "console.index" class="item"}}
    Home
  {{/link-to}}
  {{#link-to "console.compose" class="item"}}
    Compose
  {{/link-to}}
  {{#link-to "playground" class="item"}}
    API Playground
  {{/link-to}}
  {{#if isLogin}}
  <a class="item right" {{action "logout" }}>
    Logout
  </a>
  {{else}}
  <a class="item right" {{action "loginWithDropbox" }}>
    Login with Dropbox
  </a>
  {{/if}}
</div>
<div class="ui main container">
  <div class="ui grid">
    {{outlet}}
  </div>
</div>
