<div class="ui menu">
  <a class="item">
    Home
  </a>
  {{#link-to "console.compose" class="item"}}
    Compose
  {{/link-to}}
  <a class="item">
    API Playground
  </a>
</div>
<div class="ui main container">
  <div class="ui grid">
  {{outlet}}
  </div>
</div>
